.heading
{
  font-size: 8em;
  font-weight: 600;
  margin: 0 auto;


      text-shadow: -1px -1px rgba(0,0,0,0.5);

}
.card-title
{
  padding: 10px;
}
.todo_name
{
  font-size: 1.5em;
}
.done .todo_name
{
  text-decoration: line-through;
}